body {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.column-left,
.column-right {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    border: 1px solid;
}

.column-center {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    border-style: solid 1px;
}

.choose-game {
    display: flex;
    flex-direction: row;
}

.play-classic-button,
.play-advanced-button {
    border: 1px solid;
}

.weapon-choices-rps, 
.weapon-choices-df {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.weapon-select {
    width: 100px;
    height: 100px;
    border: 1px solid;
}

.rules3,
.rules5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


#rock-select {
    background: grey;
}

#paper-select {
    background: yellow;
}

#scissors-select {
    background: red;
}

#dino-select {
    background: green;
}

#fire-select {
    background: purple;
}

.hidden {
    display: none;
  }