body {
    display: flex;
    flex-direction: row;
    font-family: 'superhelio _regular', sans-serif;
    width: 100vw; 
    height: 100vh; 
    background-color: #371F76;
    color: white;
    margin: 0;
    padding: 0;
}

.column-left,
.column-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    flex-basis: 25%;
    font-size: 15px;
    background-image: linear-gradient(#371F76, #371F76, #371F76, #00788C); 
    margin: 0;
    padding: 0;
}

.human-image,
.cpu-image {
    padding-bottom: 30px;
}

.column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%; 
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    padding: 10px;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 40px;
}

.human-image,
.cpu-image {
    height: 100px;
    width: 100px;
    font-size: 100px
}

.choose-game {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px
}

.play-classic-header,
.play-advanced-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rules3,
.rules5 {
    background: #00788C;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border: solid 3px #A1A1A4;
    height: 250px;
    width: 180px;
}

.rules3:hover,
.rules5:hover {
    background-image: linear-gradient(#371F76, #00788C, #00788C);
    color: #F9423A;
  }

.weapon-choices-rps, 
.top-row-rpsdf,
.bottom-row-rpsdf {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.weapon-select {
    width: 200px;
    height: 200px;
}

.change-game-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00788C;
    border-radius: 5px;
    border: solid 3px #A1A1A4;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    height: 50px;
    width: 150px;
    }

.change-game-button:hover {
    background-image: linear-gradient(#371F76, #00788C, #00788C, #00788C);
    color: #F9423A;
    }

.rock-image,
.paper-image,
.scissors-image, 
.dino-image,
.fire-image {
    height: 200px;
    width: 200px;
}

.rock-image:hover,
.paper-image:hover,
.scissors-image:hover, 
.dino-image:hover,
.fire-image:hover  {
    background-image: linear-gradient(#371F76, #00788C);
    border-radius: 5px;
    }

.match-results {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px;
    border-top: 200px;
}

.hidden {
    display: none;
  }

.temp-background {
    background-color: #371F76;
}